<div class="col-md-3">
	<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
		<li role="presentation" class="active"><a>Messages</a></li>
		<% @user.each do |user| %>
			<li role="presentation">
				<%= link_to user.name, "#", class: 'btn btn-success btn-xs start-conversation', "data-sid" => current_user.id,
					"data-rid" => user.id %>
			</li>
		<% end %>
	</ul>
</div>
<div class="col-md-7 show-conversation">
</div>
